/* Reset CSS */
body,
h1,
h2,
p,
button {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Libre Baskerville', serif; /* Double Struck Font */
}

/* Global styles */
body {
    animation: changeBackgroundColor 5s infinite; /* Change color every 5 seconds */
    background-color: #e0e0e0; /* Light gray background */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 12em; /* 2x larger */
    color: #000; /* pitch black */
    font-weight: bold; /* Make text bold */
}

.buttons {
    position: absolute;
    top: 20px; /* Moved back to the top right corner */
    right: 20px;
}

/* Button styles */
.button {
    text-decoration: none; /* Remove underline */
    background-color: #333; /* Dark gray background */
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #666; /* Light gray background on hover */
}

/* Keyframes for background color transition */
@keyframes changeBackgroundColor {
    0% { background-color: #f6d365; }
    20% { background-color: #fda085; }
    40% { background-color: #7fd1b9; }
    60% { background-color: #c1c8e4; }
    80% { background-color: #fbc2eb; }
    100% { background-color: #a6c0fe; }
}
